<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717480829006-7tdrepuma8h8apusf5c2v38io3e5297l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717480829006-7tdrepuma8h8apusf5c2v38io3e5297l</string>
	<key>API_KEY</key>
	<string>AIzaSyCEvBJrtcNdO86koLx7T4W8VveEdb2So3I</string>
	<key>GCM_SENDER_ID</key>
	<string>717480829006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Veysal.SnapChat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-f6f87</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-f6f87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717480829006:ios:e5b3ca51c4c8f53a5f231f</string>
</dict>
</plist>